body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;   
    font-family: 'Roboto Slab', serif;
}


#game-board{
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(40, 1fr);
    background-color: pink;
    width: 100vmin; /* keeps sq shape as screen size changes */
    height: 100vmin; /* keeps sq shape as screen size changes */
}

#game-over{
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);   
}

h1{
    font-size: 50px;
    color: white;  
    margin-bottom: 5px; 
}

p{
    color: white;
}

p:first-of-type{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
}

button{
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    margin: 10px;
    width: 150px;
    padding: 3px;
    font-size: 15px;
    background-color: pink;
    border-radius: 5px; 
    border: 2px solid white;  
}

button:hover{
    transform: scale(1.1);
    border-color: white;
    box-shadow: none;
}

.snake{
    background-color: blue;
}

.food{
    background-color: blueviolet;
}
